{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<div class="success">
	<div class="form__lebel">
		<h1>Успішне виконання дії</h1>
		<h6>товар успішно видалений</h6>
	</div>
	<div class="action">
		<a class="form__button" href="/">Повернутися назад</a>
	</div>

</div>


{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}